* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: 'Abel', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	background: white;
	background-image: url("../img/bg.png");
    background-repeat: repeat;
}

/* unvisited link */
a:link {
    color: #666;
}

/* visited link */
a:visited {
    color: #666;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: #444;
}
h1{
	font-size: 64px;
}
hr{ 
    display: block;
    border:none;
	height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    letter-spacing: 10.8px;
}

mail::after {
    content: attr(data-domain);
}
mail::before {
    content: attr(data-user) "\0040";
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
img.desaturate { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.8;
}
img.desaturate:hover { 
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
}


.center-text {
    text-align: center;
}

/*
 * -- CONTENT STYLES --
 */
.content-wrapper {
    width: 100%;
}

.content {
    padding: 1em;
}

.footer {
	color:white;
    background: #111;
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
}

.infobox{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 50%;
	border: #b94a48;
	border-width: 1px;
	border-left-width: 1px;
}

.center-element {
	position: fixed;
	top: 50%;
	left: 50%;
}



/*
 * -- ANIMATIONS --
 */
.bounce1-1 {
	animation: bounceIn 1.1s;
}
.bounce1-0 {
	animation: bounceIn 1s;
}
.bounce0-9 {
	animation: bounceIn 0.9s;
}
@keyframes bounceIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(0.9);
		opacity: 0.8;
	}
	80% {
		transform: scale(1.1);
		opacity: 1;
	}
	90% {
		transform: scale(1);
	}
	95% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {

    body {
        font-size: 16px;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 78em) {
    
}